<div class="span6">
    <input ng-model="filter.name" type="text"/>

    <table class="table">
        <thead>
        <tr>
            <th><a ng-click="predicate='number'; filter=''">#</a></th>
            <th><a ng-click="predicate='name'; filter=''">Name</a></th>
            <th><a ng-click="predicate='-speed'; filter=hasSpeed">Speed</a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="corner in circuit.corners | filter:filter | orderBy:predicate">
            <td>{{corner.number}}</td>
            <td>{{corner.name}}</td>
            <td><span ng-show="corner.speed">{{corner.speed}}&nbsp;km/h</span></td>
        </tr>
        </tbody>
    </table>
    <a class="btn" ng-click="save()">Gem</a>
</div>
